<div class="index-container">
  <img src="/images/beer.png" width="200px" height="200px">
  <a href="/beers"><button type="button">Check the Beers!</button></a>
 <a href="/random-beers"><button type="button">Check a Random Beer!</button></a>

</div>