<html>
    <header>
        <title>IronBeers</title>
        <link rel='stylesheet' href='/stylesheets/styles.css'>
    </header>
    <body>
        {{> navbar}}
        {{> beerPartial}}
        {{> randombeerPartial}}
       {{{ body }}}
        {{> footer}}

    </body>
</html>